EOL/New folder (2)/New folder (2)/nodered_plc_webhook_flow.json
[
    {
        "id": "tb_ems_plc_flow",
        "type": "tab",
        "label": "TB EMS - PLC Cycle Trigger",
        "disabled": false,
        "info": "Reads L108/L109 from PLC and POSTs rising edges to Flask"
    },
    {
        "id": "tb_inject_l108",
        "type": "inject",
        "z": "tb_ems_plc_flow",
        "name": "Poll 0.5s",
        "props": [{"p": "payload"}],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 100,
        "wires": [["tb_mc_read_l108"]]
    },
    {
        "id": "tb_mc_read_l108",
        "type": "MC Read",
        "z": "tb_ems_plc_flow",
        "name": "Read L108",
        "topic": "",
        "connection": "tb_plc_conn",
        "address": "L108",
        "addressType": "str",
        "outputFormat": 0,
        "errorHandling": "throw",
        "outputs": 1,
        "x": 290,
        "y": 100,
        "wires": [["tb_edge_detect_l108"]]
    },
    {
        "id": "tb_edge_detect_l108",
        "type": "function",
        "z": "tb_ems_plc_flow",
        "name": "Rising Edge L108",
        "func": "var prev = context.get('prev');\nvar curr = msg.payload.L108;\n\n// Update live state always (for falling edge too)\nif (prev !== curr) {\n    context.set('prev', curr);\n    \n    // POST both rising and falling to Flask for live status\n    msg.method = 'POST';\n    msg.url = 'http://127.0.0.1:5000/api/plc-webhook';\n    msg.payload = {\n        plc_id: 'plc_1775730498875',\n        bit: 'L108',\n        value: curr\n    };\n    msg.headers = {'Content-Type': 'application/json'};\n    \n    if (curr === true && prev === false) {\n        node.status({fill:'green', shape:'dot', text:'RISING EDGE at ' + new Date().toLocaleTimeString()});\n    } else if (curr === false && prev === true) {\n        node.status({fill:'grey', shape:'ring', text:'Falling at ' + new Date().toLocaleTimeString()});\n    }\n    \n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "x": 480,
        "y": 100,
        "wires": [["tb_http_post_l108"]]
    },
    {
        "id": "tb_http_post_l108",
        "type": "http request",
        "z": "tb_ems_plc_flow",
        "name": "POST to Flask",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 660,
        "y": 100,
        "wires": [["tb_debug_result"]]
    },
    {
        "id": "tb_debug_result",
        "type": "debug",
        "z": "tb_ems_plc_flow",
        "name": "Flask Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 840,
        "y": 100,
        "wires": []
    },
    {
        "id": "tb_inject_l109",
        "type": "inject",
        "z": "tb_ems_plc_flow",
        "name": "Poll 0.5s",
        "props": [{"p": "payload"}],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.6,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 200,
        "wires": [["tb_mc_read_l109"]]
    },
    {
        "id": "tb_mc_read_l109",
        "type": "MC Read",
        "z": "tb_ems_plc_flow",
        "name": "Read L109",
        "topic": "",
        "connection": "tb_plc_conn",
        "address": "L109",
        "addressType": "str",
        "outputFormat": 0,
        "errorHandling": "throw",
        "outputs": 1,
        "x": 290,
        "y": 200,
        "wires": [["tb_edge_detect_l109"]]
    },
    {
        "id": "tb_edge_detect_l109",
        "type": "function",
        "z": "tb_ems_plc_flow",
        "name": "Rising Edge L109",
        "func": "var prev = context.get('prev');\nvar curr = msg.payload.L109;\n\nif (prev !== curr) {\n    context.set('prev', curr);\n    \n    msg.method = 'POST';\n    msg.url = 'http://127.0.0.1:5000/api/plc-webhook';\n    msg.payload = {\n        plc_id: 'plc_1775730498875',\n        bit: 'L109',\n        value: curr\n    };\n    msg.headers = {'Content-Type': 'application/json'};\n    \n    if (curr === true && prev === false) {\n        node.status({fill:'green', shape:'dot', text:'RISING EDGE at ' + new Date().toLocaleTimeString()});\n    } else {\n        node.status({fill:'grey', shape:'ring', text:'OFF at ' + new Date().toLocaleTimeString()});\n    }\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "x": 480,
        "y": 200,
        "wires": [["tb_http_post_l109"]]
    },
    {
        "id": "tb_http_post_l109",
        "type": "http request",
        "z": "tb_ems_plc_flow",
        "name": "POST to Flask",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 660,
        "y": 200,
        "wires": [["tb_debug_l109"]]
    },
    {
        "id": "tb_debug_l109",
        "type": "debug",
        "z": "tb_ems_plc_flow",
        "name": "L109 Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 840,
        "y": 200,
        "wires": []
    },
    {
        "id": "tb_plc_conn",
        "type": "MC Protocol Connection",
        "name": "TB PLC 192.168.10.150",
        "host": "192.168.10.150",
        "port": "5002",
        "protocol": "TCP",
        "frame": "3E",
        "plcType": "Q",
        "ascii": false,
        "PLCStation": "",
        "PCStation": "",
        "PLCModuleNo": "",
        "network": "",
        "octalInputOutput": false,
        "timeout": 1000
    }
]
